*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
		"Segoe MDL2 Assets", "Calculator MDL2 Assets";
	height: 100%;
	width: 100%;
	font-size: 15px;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: var(--ButtonFace);
	color: var(--ButtonText);
	display: flex;
	flex-direction: column;
}
.container {
	flex: 1;
	min-height: 208px;
	margin: 0;
	overflow: hidden;
	display: flex;
}
.window .os-window {
	width: 1000px !important;
	border-top-color: aliceblue !important;
}

#os-window {
	height: 1000px;
}

#display {
	word-wrap: break-word;
	text-align: right;
	width: 1000px;
	height: 1000px;
	margin-bottom: 11px;
}
